<!DOCTYPE html>
<html>
    <head>
        <title>FlexWork</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/BlogApp.css">
        <link rel="stylesheet" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    
    </head>
    <body>
        <div class="ui fixed inverted  menu">
            <a class="active item" href="/">
                <p><i class="edit outline icon"></i>FlexWork</p>
            </a>
            
            <div class="right menu">
                <a href="/signup" class="item">SignUp</a>
                <a href="/login" class="item">Login</a>
            </div>
        </div>
        <br>
        <br>
        <br>
       <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>