<% include  partials/headerHome %>
       
   
    
    <div id="landing-header">
 		<h1>Welcome to FlexWork!</h1>
    </div>
    
    <div class="container-fluid">
      <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </div>
    
<% include  partials/footer %>