<% include partials/headerHome %>
    <link type="text/css" rel="stylesheet" href="/signUpLoginForm.css">

    <form class="box" action="/signup" method="POST">
        <h1>SignUp</h1>
        <input type="text" name="email" placeholder="email">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" name="" value="SignUp">
    </form>

    
<% include partials/footer %>