body {
    background-color: #cdcecf;
    color: aliceblue;
}

img {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    /* padding: 5px; */
    /* Some padding */
    width: 230px;
    /* Set a small width */
    height: 160px;
}

#delete {
    display: inline;
}